<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression test suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="77fd62">  <td>22/02/26 09:54:29</td>   <td>0</td> <td title="&lt;&lt;Common.clearFiles()[pri:0, instance:com.rediff.createaccount.CreateAccount@5d0a1059]">&lt;&lt;clearFiles</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="fbd1f6">  <td>22/02/26 09:54:24</td>   <td>-5342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.closeBrowser()[pri:0, instance:com.rediff.login.Login@662b4c69]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="fbd1f6">  <td>22/02/26 09:54:24</td>   <td>-5342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.closeBrowser()[pri:0, instance:com.rediff.login.Login@662b4c69]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="fbd1f6">  <td>22/02/26 09:54:24</td>   <td>-5342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.closeBrowser()[pri:0, instance:com.rediff.login.Login@662b4c69]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="fbd1f6">  <td>22/02/26 09:54:24</td>   <td>-5342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.closeBrowser()[pri:0, instance:com.rediff.login.Login@662b4c69]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="fbd1f6">  <td>22/02/26 09:54:24</td>   <td>-5342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login.closeBrowser()[pri:0, instance:com.rediff.login.Login@662b4c69]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>22/02/26 09:54:29</td>   <td>-128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAccount.closeBrowser()[pri:0, instance:com.rediff.createaccount.CreateAccount@5d0a1059]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>22/02/26 09:54:27</td>   <td>-2552</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAccount.createAccountTest()[pri:0, instance:com.rediff.createaccount.CreateAccount@5d0a1059]">createAccountTest</td> 
  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="fbd1f6">  <td>22/02/26 09:54:23</td>   <td>-6135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.invalidLogin(java.lang.String,java.lang.String)[pri:2, instance:com.rediff.login.Login@662b4c69]">invalidLogin</td> 
  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="fbd1f6">  <td>22/02/26 09:54:23</td>   <td>-6135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.invalidLogin(java.lang.String,java.lang.String)[pri:2, instance:com.rediff.login.Login@662b4c69]">invalidLogin</td> 
  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="fbd1f6">  <td>22/02/26 09:54:23</td>   <td>-6135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.invalidLogin(java.lang.String,java.lang.String)[pri:2, instance:com.rediff.login.Login@662b4c69]">invalidLogin</td> 
  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="fbd1f6">  <td>22/02/26 09:54:23</td>   <td>-6135</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.invalidLogin(java.lang.String,java.lang.String)[pri:2, instance:com.rediff.login.Login@662b4c69]">invalidLogin</td> 
  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="fbd1f6">  <td>22/02/26 09:54:20</td>   <td>-9133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.openBrowser()[pri:0, instance:com.rediff.login.Login@662b4c69]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="fbd1f6">  <td>22/02/26 09:54:20</td>   <td>-9133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.openBrowser()[pri:0, instance:com.rediff.login.Login@662b4c69]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="fbd1f6">  <td>22/02/26 09:54:20</td>   <td>-9133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.openBrowser()[pri:0, instance:com.rediff.login.Login@662b4c69]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="fbd1f6">  <td>22/02/26 09:54:20</td>   <td>-9133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.openBrowser()[pri:0, instance:com.rediff.login.Login@662b4c69]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="fbd1f6">  <td>22/02/26 09:54:20</td>   <td>-9133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login.openBrowser()[pri:0, instance:com.rediff.login.Login@662b4c69]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="8c98f8">  <td>22/02/26 09:54:24</td>   <td>-5155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAccount.openBrowser()[pri:0, instance:com.rediff.createaccount.CreateAccount@5d0a1059]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@538185145</td>   <td></td> </tr>
<tr bgcolor="fbd1f6">  <td>22/02/26 09:54:01</td>   <td>-28078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.verifyPageTitle()[pri:1, instance:com.rediff.login.Login@662b4c69]">verifyPageTitle</td> 
  <td>main@538185145</td>   <td></td> </tr>
</table>
