<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4c865">  <td>22/02/26 11:06:05</td>   <td>0</td> <td title="&gt;&gt;Common.loadFiles()[pri:0, instance:com.rediff.createaccount.CreateAccount@10d307f1]">&gt;&gt;loadFiles</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@844112759</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>22/02/26 11:06:10</td>   <td>4484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAccount.createAccountTest()[pri:0, instance:com.rediff.createaccount.CreateAccount@10d307f1]">createAccountTest</td> 
  <td>main@844112759</td>   <td></td> </tr>
<tr bgcolor="a4c865">  <td>22/02/26 11:06:12</td>   <td>7178</td> <td title="&lt;&lt;Common.clearFiles()[pri:0, instance:com.rediff.createaccount.CreateAccount@10d307f1]">&lt;&lt;clearFiles</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@844112759</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>22/02/26 11:06:06</td>   <td>607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAccount.openBrowser()[pri:0, instance:com.rediff.createaccount.CreateAccount@10d307f1]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@844112759</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>22/02/26 11:06:12</td>   <td>6949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAccount.closeBrowser()[pri:0, instance:com.rediff.createaccount.CreateAccount@10d307f1]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@844112759</td>   <td></td> </tr>
</table>
